* {
    margin: 0px;
    padding: 0px;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;

}

header h1 {
    color: var(--main-black, #181717);

    font-style: normal;

    line-height: 97.2%;
    letter-spacing: -1.5px;
    font: 500 50px DM Sans;

}

header nav p {
    display: flex;
    width: 46.767px;
    height: 20px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    color: #181717;
    margin-right: 30px;

}
.preview{
    margin-top: 120px;
}
.preview .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview .info h1 {
    color: var(--main-black, #181717);

    font-style: normal;

    line-height: 97.2%;
    letter-spacing: -1.8px;
    font: 500 50px DM Sans;
}

.preview .info p {
    color: #606060;

    font-family: DM Sans;

    line-height: 117%;
    letter-spacing: -0.96px;
    font: 400 32px DM Sans;
}
.img-arrow{
    background-image: url(./headline.png);
    height: 40px;
    width: 34px;
    
    
}